<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لوحة التحكم</title>
    <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/style.css">

    
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a id="myprofilename" class="nav-link dropdown-toggle bg-white" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" >
                         عبدالرحمن الصهيبي
                        </a>
                        <ul class="dropdown-menu bg-white" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item bg-white text-black" href="assets/index.html">الرئيسية</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- start setting box -->

    <div class="setting-box" >
        <div class="toggle-setting ">
            <i class="fa fa-gear setting-i "></i>
      
        </div>
        <div class="setting-container ">
            <div class="option-box bg-black text-white">
                <img src="./assets/IMG_20210930_030036_034.JPG" alt="" class="img-fluid">
                <h4 class="text-white">عبدالرحمن الصهيبي</h4>
                <hr>
                <ul class="list-menu " >
                    <li class="text-center"><a href="index.html" class="text-white" >لوحة التحكم</a></li>
                    <li class="text-center"><a href="dashboard-views/experience.html" class="text-white">الخبرات</a></li>
                    <li class="text-center"><a href="dashboard-views/skills.html" class="text-white">المهارات</a></li>
                    <li class="text-center"><a href="dashboard-views/qualification.html" class="text-white">المؤهلات</a></li>
                    <li class="text-center"><a href="dashboard-views/courses.html" class="text-white">الدورات</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- end setting box -->

    <!-- Start Dashboard Page  -->
    <div class="container home-stats text-center">
        <h1 class="text-white">لوحة التحكم</h1>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="stat st-experi">
                   
    
                     <h4>الخبرات</h4>
                        <span><a href="dashboard-views/experience.html">  <img src="assets/businessman-working-on-laptop-experience-260nw-1612204909.jpg" alt="Experience" class="img-thumbnail img-fluid"></a></span>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat st-skills">
                 
                   
                      <h4>المهارات</h4>
                        <span><a href="dashboard-views/skills.html"><img src="assets/skills-concept-education-training-improvement-people-get-knowledge-build-career-illustration_277904-4760.jpg" alt="Skills" class="img-thumbnail img-fluid"></a></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat st-quali">
               
                   
                       <h3>المؤهلات</h3>
                        <span><a href="dashboard-views/qualification.html"><img src="assets/Qualifications.jpg" alt="Qualifications" class="img-fluid img-thumbnail"></a></span>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat st-course">
    
                      <h3>الدورات التدريبية</h3>
                        <span><a href="dashboard-views/courses.html"><img src="assets/How-short-online-courses-can-actually-help-in-career.jpg" alt="Courses" class="img-fluid img-thumbnail"></a></span>
                 
                </div>
            </div>
        </div>
    </div>

    <div class="container latest">
        <div class="row">
            <div class="col-sm-5 m-auto">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-users"></i> المعلومات الشخصية
                        
                    </div>
                    <div class="card-body">
                        <ul class=" list-unstyled latest-users">
                            <li>عبدالرحمن الصهيبي</li>
<div class="row px-3 mt-2">
    <li class="col-6">اليمن - ذمار</li>
    <li  class="col-6 bg-light ">775474720</li>

</div>
<li>بكالوريوس علوم حاسوب</li>
<li>3 سنوات خبرة</li>
                            <li>alsuhaibiabdulrahman@gmail.com</li>
                            <li>مطور مواقع ويب</li>
                        </ul>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#editModal">
                            <span class="btn btn-success col-12 py-2">
                                تعديل
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-tag"></i>  <span class="btn btn-info bg-light numbers">5</span> الخبرات
                        <span class="toggle-info pull-right">
                            <i class="fa fa-plus fa-lg"></i>
                        </span>
                    </div>
                    <div class="card-body" dir="ltr">
                        <ul class="list-unstyled latest-users">
                            <li>
                             Laravel PHP FrameWork
                                <a href="dashboard-views/experience.html">
                                    <span class="btn btn-success pull-right">
                                        <i class="fa fa-edit"></i> تعديل
                                    </span>
                                </a>
                            </li>
                            <li>
                        Flutter
                                <a href="dashboard-views/experience.html">
                                    <span class="btn btn-success pull-right">
                                        <i class="fa fa-edit"></i> تعديل
                                    </span>
                                </a>
                            </li>
                            <li>
                              Android
                                <a href="dashboard-views/experience.html">
                                    <span class="btn btn-success pull-right">
                                        <i class="fa fa-edit"></i> تعديل
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-tag"></i>  <span class="btn btn-info bg-light numbers">3</span>
                        
                        المهارات
                        <span class="toggle-info pull-right">
                            <i class="fa fa-plus fa-lg"></i>
                        </span>
                    </div>
                    <div class="card-body" dir="ltr">
                        <ul class="list-unstyled latest-users">
                            <li>
                                Fornt End Development
                                <a href="dashboard-views/experience.html">
                                    <span class="btn btn-success pull-right">
                                        <i class="fa fa-edit"></i> تعديل
                                    </span>
                                </a>
                            </li>
                            <li>
                                Back End Development
                                <a href="dashboard-views/experience.html">
                                    <span class="btn btn-success pull-right">
                                        <i class="fa fa-edit"></i> تعديل
                                    </span>
                                </a>
                            </li>
                            <li>
                            Web and Mobile Development
                                <a href="dashboard-views/experience.html">
                                    <span class="btn btn-success pull-right">
                                        <i class="fa fa-edit"></i> تعديل
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- End Dashboard Page -->

    <!-- Modal Edit-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">تعديل البروفايل</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="skills.html" method="post">
                        <div class="mb-3 row">
                            <label for="Experience" class="col-sm-3 col-form-label">الاسم</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="skill" placeholder="ادخل اسمك"
                                    >
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="years" class="col-sm-3 col-form-label">الايميل</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="description" placeholder="ادخل الايميل"
                                   value="alsuhaibiabdulrahman@gmail.com">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="company" class="col-sm-3 col-form-label">المهارات</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="level" placeholder="ادخل المهارات" 
                                    value="مطور مواقع ويب">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                            <button type="button" class="btn btn-primary">تحديث</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>

 
</body>

</html>